$heading-color:yellow;
$circle-border: #949299;
$circle-hover-color: gray;
$section-black-background:black;
$section-black-h4:yellow;
$section-black-para:white;
$label-color:white;
$button-background:yellow;
$section-yellow-background:yellow;